.logo {
  float: left;
  width: 120px;
  height: 100%;
  margin: 0 24px 0 0;
}
.logo__image {
  width: 100%;
}

.ant-layout {
  min-height: calc(100vh);
}

.ant-layout-content {
  padding: 110px 50px 0 50px;
}

.site-layout-content {
  min-height: calc(100vh - 230px);
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-footer {
  background-color: #001529;
  text-align: center;
  color: #fff;
}
